<div class="filter_box"> 
    <div class="filter_header">
      <h2>Filter</h2>
    </div>
    <div class="contri_type">
      <h3>
        Contributor Type
      </h3>

    </div>
  <ul id="filter" class="filter">
    <li id="dev-active" ><a href="javascript:;" onclick="devFunc();" >Developers</a> </li>
    <li id="des-active" ><a href="javascript:;" onclick="desFunc();" >Designers</a> </li>
    <li id="comm-active" ><a href="javascript:;" onclick="commFunc();" >Communications</a> </li>
    <li id="project-active" {% if page.url contains "project" %} class="active1" {% endif%}><a href="projects.html" >All</a> </li>
</ul>
<hr>
<div class="FOI_type">
    <h3>
      Field Of Interest
    </h3>

  </div>
  <ul class="filter">
    <li id="edu-active" ><a href="javascript:;" onclick="eduFunc();" >Education</a> </li>
    <li id="env-active" ><a href="javascript:;" onclick="envFunc();" >Environment</a> </li>
    <li id="med-active" ><a href="javascript:;" onclick="medFunc();" >Medical</a> </li>
    <li id="multi-active" ><a href="javascript:;" onclick="multiFunc();" >Multimedia</a> </li>
    <li id="tech-active" ><a href="javascript:;" onclick="techFunc();" >Technology</a> </li>
    <li id="project-active2" {% if page.url contains "project" %} class="active2" {% endif%}><a href="projects.html" >All</a> </li>
  </ul>
</div>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script type="text/javascript">
 //Developer filter

 $(document).ready(function() {
  $("a").click(function() {
    $(this).dblclick();
  });
});


 let devActive= document.getElementById("dev-active");
 let desActive = document.getElementById("des-active");
 let commActive = document.getElementById("comm-active");
 let projActive= document.getElementById("project-active");
 let projActive2=document.getElementById("project-active2");
 let eduActive= document.getElementById("edu-active");
 let envActive= document.getElementById("env-active");
 let medActive= document.getElementById("med-active");
 let multiActive= document.getElementById("multi-active");
 let techActive= document.getElementById("tech-active");

  function devFunc() {          
    $(this).dblclick(); 
    filter1Tag=document.getElementsByClassName("active1")[0].innerText;
    filter=filter1Tag.toUpperCase();
     filter2tag=document.getElementsByClassName("active2")[0].innerText;
   
        filter2=filter2tag.toUpperCase();
   
     
     
     chapters= {{ site.data.projects | jsonify }};

     devActive.classList.add("active1");
     projActive.classList.remove("active1");
     desActive.classList.remove("active1");
     commActive.classList.remove("active1");
  
     ul = document.getElementById("cards");
     li = ul.getElementsByTagName("li");
  if(filter2=="ALL"){
     for (i = 0; i < li.length; i++) {
         a = li[i].getElementsByTagName("div")[0];
         txtValue = a.textContent || a.innerText;
        
         if (txtValue.toUpperCase().indexOf(filter) > -1 )  {
             li[i].style.display = "";
         } else {
             li[i].style.display = "none";
         }
     }
 }else{   for (i = 0; i < li.length; i++) {
         a = li[i].getElementsByTagName("div")[0];
         a2=li[i].getElementsByTagName("h3")[0];
         console.log(filter2);
         txtValue = a.textContent || a.innerText;
         txtValue2 = a2.textContent || a2.innerText;
         if (txtValue.toUpperCase().indexOf(filter) > -1 && txtValue2.toUpperCase().indexOf(filter2) > -1)  {
             li[i].style.display = "";
         } else {
             li[i].style.display = "none";
         }
     }}}
//Designer filter 
 function desFunc() {
    $(this).dblclick(); 
    filter1Tag=document.getElementsByClassName("active1")[0].innerText;
    filter=filter1Tag.toUpperCase();
     filter2tag=document.getElementsByClassName("active2")[0].innerText;
   
        filter2=filter2tag.toUpperCase();
   
     
     desActive.classList.add("active1");
     devActive.classList.remove("active1");
     projActive.classList.remove("active1");
    
     ul = document.getElementById("cards");
     li = ul.getElementsByTagName("li");

     if(filter2=="ALL"){
     for (i = 0; i < li.length; i++) {
         a = li[i].getElementsByTagName("div")[0];
         txtValue = a.textContent || a.innerText;
        
         if (txtValue.toUpperCase().indexOf(filter) > -1 )  {
             li[i].style.display = "";
         } else {
             li[i].style.display = "none";
         }
     }
 }else{   for (i = 0; i < li.length; i++) {
         a = li[i].getElementsByTagName("div")[0];
         a2=li[i].getElementsByTagName("h3")[0];
         console.log(filter2);
         txtValue = a.textContent || a.innerText;
         txtValue2 = a2.textContent || a2.innerText;
         if (txtValue.toUpperCase().indexOf(filter) > -1 && txtValue2.toUpperCase().indexOf(filter2) > -1)  {
             li[i].style.display = "";
         } else {
             li[i].style.display = "none";
         }
     }}}
 //Communication filter
 function commFunc() {
    $(this).dblclick(); 
    filter1Tag=document.getElementsByClassName("active1")[0].innerText;
    filter=filter1Tag.toUpperCase();
     filter2tag=document.getElementsByClassName("active2")[0].innerText;
   
        filter2=filter2tag.toUpperCase();
   
     
     commActive.classList.add("active1");
     projActive.classList.remove("active1");
     desActive.classList.remove("active1");
     devActive.classList.remove("active1");
     
     ul = document.getElementById("cards");

     li = ul.getElementsByTagName("li");
   
     if(filter2=="ALL"){
     for (i = 0; i < li.length; i++) {
         a = li[i].getElementsByTagName("div")[0];
         txtValue = a.textContent || a.innerText;
        
         if (txtValue.toUpperCase().indexOf(filter) > -1 )  {
             li[i].style.display = "";
         } else {
             li[i].style.display = "none";
         }
     }
 }else{   for (i = 0; i < li.length; i++) {
         a = li[i].getElementsByTagName("div")[0];
         a2=li[i].getElementsByTagName("h3")[0];
         console.log(filter2);
         txtValue = a.textContent || a.innerText;
         txtValue2 = a2.textContent || a2.innerText;
         if (txtValue.toUpperCase().indexOf(filter) > -1 && txtValue2.toUpperCase().indexOf(filter2) > -1)  {
             li[i].style.display = "";
         } else {
             li[i].style.display = "none";
         }
     }}}

 //Education filter
 function eduFunc() {
    $(this).dblclick(); 
    filter1Tag=document.getElementsByClassName("active1")[0].innerText;
    filter=filter1Tag.toUpperCase();
     filter2tag=document.getElementsByClassName("active2")[0].innerText;
   
        filter2=filter2tag.toUpperCase();
   
     
     eduActive.classList.add("active2");
   
     envActive.classList.remove("active2");
     medActive.classList.remove("active2");
     multiActive.classList.remove("active2");
     techActive.classList.remove("active2");
     ul = document.getElementById("cards");
     projActive2.classList.remove("active2");

     li = ul.getElementsByTagName("li");
     if(filter=="ALL"){
     for (i = 0; i < li.length; i++) {
         a = li[i].getElementsByTagName("div")[0];
         txtValue = a.textContent || a.innerText;
        
         if (txtValue.toUpperCase().indexOf(filter) > -1 )  {
             li[i].style.display = "";
         } else {
             li[i].style.display = "none";
         }
     }
 }else{   for (i = 0; i < li.length; i++) {
         a = li[i].getElementsByTagName("div")[0];
         a2=li[i].getElementsByTagName("h3")[0];
         console.log(filter2);
         txtValue = a.textContent || a.innerText;
         txtValue2 = a2.textContent || a2.innerText;
         if (txtValue.toUpperCase().indexOf(filter) > -1 && txtValue2.toUpperCase().indexOf(filter2) > -1)  {
             li[i].style.display = "";
         } else {
             li[i].style.display = "none";
         }
     }}}
 //Environment filter
 function envFunc() {
    $(this).dblclick(); 
    filter1Tag=document.getElementsByClassName("active1")[0].innerText;
    filter=filter1Tag.toUpperCase();
     filter2tag=document.getElementsByClassName("active2")[0].innerText;
   
        filter2=filter2tag.toUpperCase();
   
     
     envActive.classList.add("active2");
    
   
     eduActive.classList.remove("active2");
     medActive.classList.remove("active2");
     multiActive.classList.remove("active2");
     techActive.classList.remove("active2");
     ul = document.getElementById("cards");
     projActive2.classList.remove("active2");

     li = ul.getElementsByTagName("li");
     if(filter=="ALL"){
     for (i = 0; i < li.length; i++) {
         a = li[i].getElementsByTagName("div")[0];
         txtValue = a.textContent || a.innerText;
        
         if (txtValue.toUpperCase().indexOf(filter) > -1 )  {
             li[i].style.display = "";
         } else {
             li[i].style.display = "none";
         }
     }
 }else{   for (i = 0; i < li.length; i++) {
         a = li[i].getElementsByTagName("div")[0];
         a2=li[i].getElementsByTagName("h3")[0];
         console.log(filter2);
         txtValue = a.textContent || a.innerText;
         txtValue2 = a2.textContent || a2.innerText;
         if (txtValue.toUpperCase().indexOf(filter) > -1 && txtValue2.toUpperCase().indexOf(filter2) > -1)  {
             li[i].style.display = "";
         } else {
             li[i].style.display = "none";
         }
     }}}
 //Medical filter
 function medFunc() {
    $(this).dblclick(); 
    filter1Tag=document.getElementsByClassName("active1")[0].innerText;
    filter=filter1Tag.toUpperCase();
     filter2tag=document.getElementsByClassName("active2")[0].innerText;
   
        filter2=filter2tag.toUpperCase();
   
     
     medActive.classList.add("active2");
     envActive.classList.remove("active2");
     eduActive.classList.remove("active2");
     multiActive.classList.remove("active2");
     techActive.classList.remove("active2");
     ul = document.getElementById("cards");
     projActive2.classList.remove("active2");

     li = ul.getElementsByTagName("li");
     if(filter=="ALL"){
     for (i = 0; i < li.length; i++) {
         a = li[i].getElementsByTagName("div")[0];
         txtValue = a.textContent || a.innerText;
        
         if (txtValue.toUpperCase().indexOf(filter) > -1 )  {
             li[i].style.display = "";
         } else {
             li[i].style.display = "none";
         }
     }
 }else{   for (i = 0; i < li.length; i++) {
         a = li[i].getElementsByTagName("div")[0];
         a2=li[i].getElementsByTagName("h3")[0];
         console.log(filter2);
         txtValue = a.textContent || a.innerText;
         txtValue2 = a2.textContent || a2.innerText;
         if (txtValue.toUpperCase().indexOf(filter) > -1 && txtValue2.toUpperCase().indexOf(filter2) > -1)  {
             li[i].style.display = "";
         } else {
             li[i].style.display = "none";
         }
     }}}
 //Multimedia filter
 function multiFunc() {
    $(this).dblclick(); 
    filter1Tag=document.getElementsByClassName("active1")[0].innerText;
    filter=filter1Tag.toUpperCase();
     filter2tag=document.getElementsByClassName("active2")[0].innerText;
   
        filter2=filter2tag.toUpperCase();
   
     
     multiActive.classList.add("active2");
     envActive.classList.remove("active2");
     medActive.classList.remove("active2");
     eduActive.classList.remove("active2");
     techActive.classList.remove("active2");
     ul = document.getElementById("cards");
     projActive2.classList.remove("active2");

     li = ul.getElementsByTagName("li");
     if(filter=="ALL"){
     for (i = 0; i < li.length; i++) {
         a = li[i].getElementsByTagName("div")[0];
         txtValue = a.textContent || a.innerText;
        
         if (txtValue.toUpperCase().indexOf(filter) > -1 )  {
             li[i].style.display = "";
         } else {
             li[i].style.display = "none";
         }
     }
 }else{   for (i = 0; i < li.length; i++) {
         a = li[i].getElementsByTagName("div")[0];
         a2=li[i].getElementsByTagName("h3")[0];
         console.log(filter2);
         txtValue = a.textContent || a.innerText;
         txtValue2 = a2.textContent || a2.innerText;
         if (txtValue.toUpperCase().indexOf(filter) > -1 && txtValue2.toUpperCase().indexOf(filter2) > -1)  {
             li[i].style.display = "";
         } else {
             li[i].style.display = "none";
         }
     }}}
 //Technology filter
 function techFunc() {
    $(this).dblclick(); 
    filter1Tag=document.getElementsByClassName("active1")[0].innerText;
    filter=filter1Tag.toUpperCase();
     filter2tag=document.getElementsByClassName("active2")[0].innerText;
   
        filter2=filter2tag.toUpperCase();
   
     
     techActive.classList.add("active2");
     envActive.classList.remove("active2");
     medActive.classList.remove("active2");
     multiActive.classList.remove("active2");
     eduActive.classList.remove("active2");
     ul = document.getElementById("cards");
     projActive2.classList.remove("active2");

     li = ul.getElementsByTagName("li");
     if(filter=="ALL"){
     for (i = 0; i < li.length; i++) {
         a = li[i].getElementsByTagName("div")[0];
         txtValue = a.textContent || a.innerText;
        console.log(filter);
         if (txtValue.toUpperCase().indexOf(filter) > -1 )  {
             li[i].style.display = "";
         } else {
             li[i].style.display = "none";
         }
     }
 }else{   for (i = 0; i < li.length; i++) {
         a = li[i].getElementsByTagName("div")[0];
         a2=li[i].getElementsByTagName("h3")[0];
         console.log(filter2);
         txtValue = a.textContent || a.innerText;
         txtValue2 = a2.textContent || a2.innerText;
         if (txtValue.toUpperCase().indexOf(filter) > -1 && txtValue2.toUpperCase().indexOf(filter2) > -1)  {
             li[i].style.display = "";
         } else {
             li[i].style.display = "none";
         }
     }}}
 </script>
    <script>
   
    
      $(function () {
       
            $(location).attr('pathname');
            console.log(location)
            console.log("clicked");
            $(this).next().removeClass("hide");
        });
  
   
   
      </script>
