.page-header-about{
    margin-top: 4rem;
    background-color: #F2F2F2;
    height: 444px;  
    overflow: hidden;
    
   
}
.about-container{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  
  

}

.about-banner{
   margin-left: 2rem;
   width: 40rem;
    height: 420px;
}



.circle-photo{
    position: absolute;
    right: 0;
    margin-right: 20rem;
    height: 451px;
    width: 451px;
    top: 4rem;
    border-radius: 50%;
    box-shadow: -15px 8px 0 3px #2F7879;
    z-index: 1;
}
.about-tagline{
    margin-left: 16rem;
    margin-bottom: 6rem;
    background-color: #F2F2F2;
    height: 200px;  
    width: 30rem;
    z-index: 1;
    
    h1{
        font-size: 38px;
    }
    p{
        font-size: 18px;
    }
}
@media screen and(max-width: 1506px){
    .circle-photo{
        visibility: hidden;
    }
    
}
@media screen and (max-width: 800px){
    .about-container{
        display: flex !important;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .overflow-about{
        margin-top: 8rem !important;
        text-align: left;
        padding-left: 10px;
    }
    
    .about-banner{
        display: none;
    }
    .about-tagline{
        margin-left: 20px;
        margin-top: 20px;
        padding-left: 5px;
        top: 120px;
        width: 355spx;
        
        
    }

    .about-tagline>h1{
        font-size: 36px !important;
    }
    .about-tagline>p{
        font-size: 18 !important;
    }
    .circle-photo{
        visibility: visible;
        width: 267px;
        height: 267px;
        top: 23em;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

}