.page-header-about{
    margin-top: 4rem;
    background-color: #F2F2F2;
    height: 444px;  
    overflow: hidden;
    
   
}
.about-container{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  

}

.about-banner{
   margin-left: 2rem;
   width: 40rem;
    height: 420px;
}



.circle-photo{
    position: absolute;
    right: 0;
    margin-right: 20rem;
    height: 451px;
    width: 451px;
    border-radius: 50%;
   top: 4rem;
    box-shadow: -15px 8px 0 3px #2F7879;
    z-index: 1;
}
.about-tagline{
    margin-left: 14vw;
    margin-bottom: 6vw;
    background-color: #F2F2F2;
    height: 200px;  
    width: 30rem;
    z-index: 1;
    
    h1{
        font-size: 38px;
    }
    p{
        font-size: 18px;
    }
}