.filter_box{
    position: relative;
    width: auto;
    left: -4rem;
    margin-top: 1rem;
    height: 46rem;
    border: solid 2px;
    margin-bottom: 50px;
}
.filter_box_mobile{
  visibility: hidden;
  position: absolute;
}

.filter{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
  line-height: 3rem;
  text-align: center;
  margin-right: 2.2rem;
}

.filter_header{
    position: absolute;
    background-color: #D2D2D2;
    margin-top: 0;
    width: 100%;
    h2{
        text-align: center;
    }  
}

.contri_type{
    position: relative;
    margin-top: 6rem;
    h3{
        text-align: center;
        color: #000000;
    }
}
.FOI_type{
  position: relative;
  h3{
      text-align: center;
      color: #000000;
  }
}
@media (max-width: 800px) {
    
  
  .filter_box{
    display: none;
      
  }
   
  .filter_box_mobile{
    visibility: visible;
    position: relative !important;
    width: 18rem;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px;
  }
  .filter_mobile_contri{
    display: none;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    line-height: 3rem;
    text-align: center;
    margin-right: 2.2rem;
  }
  .filter_mobile_FOI{
    display: none;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    line-height: 3rem;
    text-align: center;
    margin-right: 2.2rem;
  }

  .contri_type_mobile{
    position: relative;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    h3{
        text-align: left;
        margin-left: 20px;
        color: #000000;
    }
  }

  .FOI_type_mobile{
    position: relative;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    h3{
        text-align: left;
        margin-left: 20px;
        color: #000000;
    }
  }
  .filter_header_mobile{
    position: absolute;
    background-color: #D2D2D2;
    margin-top: 0;
    width: 100%;
    h2{
      margin-left:20px;
      text-align: left;
    }
  }
} 
