
.page-header {
    position: relative;
  
    background-image: url('/assets/images/contributor-link-header.png');
    height: 530px;
    overflow: hidden !important;
}
.nav-header{
    position: relative;
}
.iconBG{
    
    margin-top: 70px;
    height: 27rem;
    top:0;
    max-width: 100%;
    left: 0;
    overflow: hidden;
    
}
.overflow{
    margin-top: 25px !important;
    overflow: hidden;
}
.icon{
    position: absolute;
    z-index: 3;
    left: 50%;

    transform: translate(-50%, -50%);
    top: 16rem;
    margin-left: auto;
    margin-right: auto;
  
}
a {
    color: rgba(76, 139, 140, 1);
  }
  
  a:hover {
    text-decoration-color: rgba(76, 139, 140, 0.5);
  }
  
  .h-logo{
      position: absolute;
      padding-top: 10px;
      left: 109px;
      width: 150px;
  }
  
  .body-left{
      position: absolute;
      top: 904px;
      left: -37px;
      width: 360px;
      height: 310px;
      z-index: -1;
  }
  .body-right{
      position: absolute;
      top: 596px;
      right: 0;
      width: 360px;
      height: 308px;
      z-index: -1;
      overflow: hidden;
  }
  
  @media screen and (max-width: 800px){
    .iconBG{
        height: 16rem !important;
            }
     .icon{
         top: 12rem;
     }       
}