.page-header-project{
    margin-top: 4em;
    background-color: #FFFFFF;
    height: 630px;
    overflow: hidden;
    
}
.main-project{
    display: flex;
    margin-left: 15%;
  
}
.project-container{
    display: grid;
    grid-template-columns: 50% 50%;
}
.project-tagline{
    position: absolute;
    left: 16rem;
    width: 460px;
    opacity: 1; 
    margin-top: 4rem;
    z-index: 1;
    
    h1{
        font-size: 36px;
    }
    p{
        font-size: 18px;
    }
}
.project-visual{
    position: absolute;
    right: 40rem;
    top: 2rem;

}
.circle-photo-small{
    position: absolute;
    height: 224px;
    width: 224px;
    left: -8rem;
    top: 8rem;
    border-radius: 50%;
    z-index: 1;
    
}
.project-quote{
    position: absolute;
    left: -19rem;
    top: 8rem;
    z-index: 2;
    img{
        margin-left: 200px;
    }
}
.circle-project{
    position: absolute;
    top: 9rem;
    height: 338px;
    width: 338px;
    background-color:#F2F2F2 ;
    border-radius: 50%;
}

.project-pen{
    position: absolute;
    top: 6rem;
    z-index: 2;
    left: 12rem;
}
.circle-photo-big{
    position: absolute;
    top: 13rem;
    left: 10rem;
    height: 338px;
    width: 338px;
  
    border-radius: 50%;
   
    
}

.project-mic{
    position: absolute;
    top: 30rem;
    left: 5rem;

}
.blanket{
    display: none;    
    position:absolute;
    
    height:200vh;
    width: 100%;
    background-color: #6C6C6C;
    opacity: 0.8;

    z-index: 99;
}

//tablet screen changes 
@media (max-width: 1391px) {
   .project-container{
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
    
   }
   .project-visual{
   
    
    margin-left: 200px;
    margin-top: 270px;
   }
   .project-tagline{
    margin-left: 20px !important;
    left: 0;
    width: 350px !important;
    padding-left: 5px;
    height: 174px !important;
    margin-top: 20px;
    
    
    h1{
        font-size: 36px;
    }
    p{
        font-size: 18px;
    }
    
   
   }

   .circle-photo-small{
       left: -8rem !important;
    img{  
    height:133px ;
       width: 133px;
      }   }
      
   .project-quote{
      img{ height: 18px;
       width: 26px;
   }   }

   .circle-project{
       left: -50px !important;
       height: 212px !important;
       width: 212px !important;
   }
   .project-pen{
       left: 40px;
       img{
           height: 35px;
           width: 20px;
       }
   }
   .circle-photo-big{
       left: 10px;
       top: 11rem;
       width:186px !important;
       img{
           height: 186px;
           width: 186px;
       }
   }
   .project-mic{
       top: 20rem;
       left: 10px;
       img{
           height: 35px;
           width: 27px;
       }
   }
   .main-project{
       margin-top: 200px !important;
   }
 
}  
//mobile screen changes 
@media (max-width:800px){
    .main-project{
        margin-left: 0;
    }
    .project-visual{
        left: -50px;
    }
}
