header.page-header-resources{
    margin-top: 4em;
    background-color: #F2F2F2;
    height: 444px;
   
   
}
.resources-container{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
}
.resources-tagline{
    margin-top: 4rem;
    margin-left: 16rem;
    background-color: #F2F2F2;
    height: 300px;  
    width: 30rem;
    z-index: 1;
    
    h1{
        font-size: 36px;
    }
    p{
        font-size: 18px;
    }
}
.resources-img{
    margin-top: 4rem;
    margin-left: 12rem;


}

@media (max-width: 1280px) {
    
    .resources-container{
        display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .resources-tagline{
        margin-left: 20px !important;
        width: 380px !important;
        padding-left: 5px;
        height: 174px !important;
        margin-top: 20px;
  
    }
   }
@media(max-width: 1800px){
    .resources-img{
        margin-right: 200px;
        margin-top: 80px;
        width: 331px;
        height: 149px;
     }
}   