.search-container{
    position: relative;
    margin-right: 4rem;
   
    input{
        position: absolute;
        height: 34px;
        width: 10rem;
    }
    button{
        position: absolute;
        background-color: #fff;
        margin-top: 2px;
        left: 170px;
        border: none;
        outline: none;
    }
}
.search-icon{
    width: 20px;
    height: 20px;
    margin-top: 2px;
    
}
@media (max-width: 1391px) {

}
@media screen and (max-width: 800px){
    .search-container{
     margin-top: 3rem;
     margin-left: 3.04rem;

        
        input{
            margin-bottom: 30px !important;
            height: 50px;
            width: 15rem;
            border: 1px solid;
        }
        button{
            margin-top:4px;
            left: 15.5rem;
        }
    }
}