<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <script src="{{ "/assets/main.js" | prepend: site.baseurl }}"></script>
    {% include head-custom.html %}

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
   
   
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script>
   
    
      $(function () {
        $("a.card-link").on("click", function () {
            $(this).next().removeClass("hide");
            $(".blanket").css('display', 'inline');
            console.log()
            $(".page-header-project").css({'background-color':'#6C6C6C', 'opacity':'0.8','z-index':'99999'});
            $("html").css('overflow','hidden');
            $(".circle-photo-small").css('visibility', 'hidden');
            $(".search-container").css('visibility','hidden');
            $(".circle-photo-big").css('visibility', 'hidden');
            $(".circle-project").css('visibility', 'hidden');

        });
    });
    $(function () {
        $("a.close").on("click", function () {
            $("div.card-modal").addClass("hide");
            $(".blanket").css('display', 'none');
            $(".page-header-project").css({'background-color':'', 'opacity':'','z-index':''});
            $("html").css('overflow','');
            $(".search-container").css('visibility','visible');
            $(".circle-photo-small").css('visibility', 'visible');
            $(".circle-photo-big").css('visibility', 'visible');
            $(".circle-project").css('visibility', 'visible');
        });
    });

    $(function (){
      $("a.burger").on("click", function(){
        $(".wrapper").css('height','auto');
        $(".burger").css('visibility', 'hidden');
        $(".cross").css('visibility', 'visible');
      });
    });
    $(function (){
      $("a.cross").on("click", function(){
        $(".cross").css('visibility', 'hidden');
        $(".wrapper").css('height', '72px');
        $(".burger").css('visibility', 'visible');
      });
    });

    $(function(){
      $("a.sub_menu").on("click", function(){
        if($(".filter_mobile_contri").css("display")== "none"){
        $(".filter_mobile_contri").css('display', 'flex');
        }else{
          $(".filter_mobile_contri").css('display', 'none');
        }
        
      });
    });
    $(function(){
      $("a.sub_menu_FOI").on("click", function(){
        if($(".filter_mobile_FOI").css("display")== "none"){
        $(".filter_mobile_FOI").css('display', 'flex');
        }else{
          $(".filter_mobile_FOI").css('display', 'none');
        }
        
      });
    });
   
  
      </script>
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#25222c">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

   


   
      {{ content }}
    

   

  </body>

</html>
