---
layout: contri
---
<header class="page-header-project" role="banner">
        
        
  <div class="project-container">
  <div class="project-tagline">  
  <h1>Building stronger communities</h1>  
  <p>Connecting passions, ideas, and people with open source communities for collaboration and innovation</p>
   </div>
   <div class="project-visual">
   
    <div class="project-quote"><img  src="assets/images/quote.svg"></div>
    <div class="circle-photo-small"> <img  src="assets/images/CC-women-entreprenurs.png"></div>
    <div class="circle-project"></div> <!-- Grey circle in banner -->
    <div class="project-pen"><img  src="assets/images/pen.svg"></div>
    <div class="circle-photo-big"><img  src="assets/images/5404766001_f6c4b44db4_b.png"></div>
    
   
    <div class="project-mic"><img  src="assets/images/mic.svg"></div>
    
  
</div>
</header>



<div class="blanket"></div>
    <main id="content" class="main-project" role="main">
     
   
        {% include filter_box.html %}
        {% include filter_mobile.html %}

   
    
      <div class="card-width">
        {% include filter/FOI_technology.html %}

      </div>




    </main>
 
  
